$color_light_navy: #213246;
$color_dark_navy: #1b2838; 
$buy_button_dark: #527821;
$buy_button_light: #7ca21c;
$secondary_button: #30231e;
$main_font-color: #fff;
$secondary_font-color: #c0c0c0;

$font-size: 1rem;

*{
  font-size: $font-size;
}