$color_light_navy: #213246;
$color_dark_navy: #1b2838; 
$buy_button_dark: #527821;
$buy_button_light: #7ca21c;
$secondary_button: #30231e;

$main_font-color: #fff;
$secondary_font-color: #c0c0c0;

$font: 62.5%;
$font-size: 1rem;
$margin-xxs: .25rem;
$margin-xs: .5rem;
$margin-s: .75rem;
$margin-m: 1rem;
$margin-l: 1.25rem;
$margin-xl: 1.75rem;
$margin-xxl: 2.5rem;

*{
  font-size: $font-size;
}