@import '../../variables/breakpoints';
@import '../../variables/mixins';

.deals {
  @include layout(flex, row, center, center, unset);
  @include sizing(3rem 0 0 0, 0, 100%, 100%);
  flex-wrap: wrap;
  
  &__link {
    @include typography($main_font-color, 200, 1rem, none, none, unset);
    @include layout(flex, row, space-between, center, unset);
  }
  &__list {
    transition: all .3s ease-out;
    list-style: none;
    margin: .5rem;
    &:hover {
      scale: 1.05;
      background-color: $secondary_button;
      color: $main_font-color;
      cursor: pointer;
    }
  }
  &__title {
    @include typography($main_font-color, 200, 1rem, none, none, unset);
    @include sizing(0, 0 1rem, unset, 100%);
  }

  &__u-list {
    @include sizing(0 0 5rem 0, 1rem, 95%, 100%);
    background-color: #2a415b;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 22px 70px 4px;
  }

  &__loading { color: $main_font-color}
  &__normal-price { @include oldPrice; }
  &__discount { @include discount-greenBox }
  &__heading { @include layout(flex, row, space-between, center, unset); }
  &__list-content { 
    @include layout(flex, row, center, center, initial); 
    width: 85vw;
  }
}
