@import '../../variables/breakpoints';
@import '../../variables/mixins';

.games {
  &__input, .form-control {
    @include sizing(unset, .3rem .8rem, 100%, 100%);
    background: transparent;
    border: 2px solid $secondary_font-color;
    border-radius: .5rem;
    flex-shrink: 1;
    color: $main_font-color;
  }
  &__list {
    @include sizing(0, .1rem, 60vw, auto);
    @include layout(flex, row, space-evenly, start, unset);
    flex-wrap: wrap;
    max-height: 80vh;
    overflow: auto;     
    flex-grow: 1;
    position: absolute;
    background: linear-gradient(to bottom, $color_dark_navy, $color_light_navy);
    color: $main_font-color;
    text-shadow: 1px 1px 2px #000000aa;
    box-shadow: 0 0 12px #000000;
    box-shadow: rgba(0, 0, 0, .6) 0px 54px 55px, rgba(0, 0, 0, 0.6) 0px -12px 30px, rgba(0, 0, 0, 0.6) 0px 4px 6px, rgba(0, 0, 0, 0.7) 0px 12px 13px, rgba(0, 0, 0, 0.1) 0px -3px 5px;
  }
  &__content {
    @include sizing(.2rem 0 0 0, .3rem, 25vw, auto);
    transition: all .3s;
    cursor: pointer;
    display: flex;

    &:hover { background-color: $secondary_font-color;}
  }
  &__link { 
    @include typography($main_font-color, unset, 1rem, none, none, unset);
  } 
  &__image {
    width: 12rem;
    height: 5rem;
  }
}

.game-info {
  @include layout(flex, column, space-around, unset, unset);
  @include sizing(0 0 0 .5rem, 0, 100vw, auto);
}

.game-nomralPrice {
  text-decoration: line-through;
  color: $secondary_font-color;
}
