@import '../../variables/variables';
@import '../../variables/breakpoints';
@import '../../variables/layout';
@import '../../variables/sizing';
@import '../../variables/typography';
@import '../../variables/objects';

.game {
  z-index: 1;
  @include layout(flex, column, end, start, absolute);
  padding: 2rem;
  background: linear-gradient(to top, black, transparent);
  height: 100%;
  width: 100%;

  &__textarea {max-width: 80%;}
  &__text { 
    display: none;
    @include gameDescription; 
    @include respond(phone) {display: none;}
    @include respond(tab-land) {display: block;}
  }
  &__button { @include mainGreenButton }
  &__heading {
    font-size: 2rem;
    color: $main_font-color;
  }
  &__buy { @include buyButton }
  &__old-price { @include typography($secondary_font-color, unset, unset, none, line-through, unset); }
}