@import "../node_modules/bootstrap/scss/bootstrap";
@import './variables/breakpoints';
@import './variables/mixins';

@import './components/Category/CategoriesOverlay';
@import './components/Category/Category';
@import './components/Deals/Deals';
@import './components/Footer/Footer';
@import './components/Loading/Loading';
@import './components/Main/Main';
@import './components/Navbar/Navbar';
@import './components/Offer/Offer';
@import './components/SearchBar/SearchBar';
@import './components/SelectedGame/SelectedGame';
@import './components/Slider/Slider';


*, *::before, *::after {
  @include typography(unset, unset, 1rem, none, none, unset);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, $color_light_navy, $color_dark_navy);
}